.DS_Store
.project
.buildpath
.settings/*
.idea
.DS_Store/*
.project/*
.idea/*
log/*
cache/*
data/vendor/*
*.sublime-project
*.sublime-workspace
.tags
.tags_sorted_by_file
config/databases.yml
web/uploads/*
web/uploads.tar
web/.htaccess
rsync_exclude.txt
nbproject/
